body{
    border: 0;
    margin: 0;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
}
#topo{
    display: flex;
    background-color: rgb(163, 163, 163);
    width: 100%;
    height: 1cm;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:space-between;
}
#topo tr{
    
}
#main{
    border: solid;
    display: grid;
    grid-template-columns: 3.0fr 3.5fr  2.0fr .3fr;
    grid-template-rows: 80px 80px 431px 271px; 
   
} 

#logo{
    align-items: left;
}

#icon{
    border: solid;   
}
#logo{
    border: solid;
}
#nav{
    font: bold;
    display: flex;
    justify-content:space-around;
    text-align: center;
    border: solid;
    margin-top: 5%;
}
#menu{
    border: solid;
}
#busca{
    border: solid;
}
#banner{
    border: solid;
}
#prod1{
    border: solid; 
} 
#prod2{
    border: solid;
}
#prod3{
    border: solid;
}
#prod4{
    border: solid;
}
.navbt{
    justify-content: space-around;
    transition: .1s;
}
.navbt:hover{
   color: chartreuse;
}
#linguagem{
    position: absolute;
    top: 5ch;
    height: 100px;
    width: 60px;
    background-color: rgb(68, 63, 63);
}
